<div class=" w-full flex flex-col items-center bg-[#f4f7fa] py-7">
    <div class="main w-full text-center ">
        <h4>WHY CHOOSE US</h4>
        <h1>People choose us because we</h1>
        <h1>serve the best for everyone</h1>
    </div>
    <div class="content w-[60%] flex flex-wrap justify-center p-4 gap-5" >
        <div class="w-[500px] p-5 flex gap-2">
            <div class="">
                <img src="/assets/figma/Rectangle.png" alt="" class="first-image !min-w-[90px]">
            </div>
            <div class="text">
                <h1 class="h1">Dedicated & Responsible Team</h1>
                <p class="p">We are dedicated aluminium fabrication experts, delivering stylish and reliable interior solutions with full responsibility.</p>
            </div>
        </div>
        <div class="w-[500px] p-5 flex gap-2">
            <div class="">
                <img src="/assets/figma/Rectanglered.png" alt="" class="second-image !min-w-[90px]">
            </div>
            <div class="text">
                <h1 class="h1">Stylish & Modern Designs</h1>
                <p class="p">We bring creative, custom designs that elevate your space.</p>
            </div>
        </div>
        <div class="w-[500px] p-5 flex gap-2">
            <div class="">
                <img src="/assets/figma/Rectanglegreen.png" alt="" class="third-image !min-w-[90px]">
            </div>
            <div class="text">
                <h1 class="h1">Customer-Centric Approach</h1>
                <p class="p">We listen carefully to your needs and deliver exactly what you expect.</p>
            </div>
        </div>
        <div class="w-[500px] p-5 flex gap-2">
            <div class="">
                <img src="/assets/figma/Rectanglegray.png" alt="" class="fourth-image !min-w-[90px]">
            </div>
            <div class="text">
                <h1 class="h1">Never miss deadline</h1>
                <p class="p">We value your time. Our team ensures every project is completed on schedule without compromising quality.</p>
            </div>
        </div>
    </div>
    <div class="quates w-[70%] px-10 flex">
        <div class="w-[50%] py-9">
            <h1 class="text-[30px] mb-7 font-[600]">Ready to launch your next project?</h1>
            <p class="w-[75%] font-[200]">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
        <div class="button w-[50%] flex justify-end items-center">
            <div class="!py-3 !px-4 rounded-md text-[17px] font-[700] bg-[#473bf0] text-white" >
                <app-button></app-button>
            </div>
        </div>
    </div>
</div>