<div class="w-full flex flex-col justify-center items-center">
    <div class="w-[80%] flex flex-col justify-center items-center text-center py-16">
        <p class="text-[red] text-[17px]">Case studies</p> 
        <h1 class="text-[30px] font-[800]">Our works describe why we are</h1>
        <h1 class="text-[30px] font-[800]">the best in the business</h1>
    </div> 
    <div class="main w-[80%] flex justify-around">
        <div class="w-[45%] flex flex-col items-end">
            <img src="/assets/figma/prdimg.png" alt="dfs" class="w-[80%]">
            <div class="text my-8 pl-8 w-[80%]">
                <p class="font-[200]">Graphic Design</p>
                <h3 class="text-[23px] font-[700]">Aura Branding Design</h3>
            </div>
            <img src="/assets/figma/inagetwo.png" alt="dfs" class="w-[80%]">
            <div class="text my-8 pl-8 w-[80%]">
                <p class="font-[200]">Web Development</p>
                <h3 class="text-[23px] font-[700]">Gradient Website Development</h3>
            </div>
        </div>
        <div class="w-[45%] flex flex-col items-start">
            <img src="/assets/figma/imagethree.jpg" alt="dfs" class="w-[80%]">
            <div class="text m-8">
                <p class="font-[200]">Graphic Design</p>
                <h3 class="text-[23px] font-[700]">Aura Branding Design</h3>
            </div>
            <img src="/assets/figma/imagefour.png" alt="dfs" class="w-[80%]">
            <div class="text m-8">
                <p class="font-[200]">Web Development</p>
                <h3 class="text-[23px] font-[700]">Gradient Website Development</h3>
            </div>
        </div>
    </div> 
    <!-- <h1 class="m-10 text-[blue] text-[20px] flex justify-center items-center ">See all works <img src="/assets/images/next.png" alt="" class=" arraow w-[20px] ml-4"></h1> -->
</div>