<div class="w-full ">
    <div class="w-full flex mds">
        <div class="dr-quotes w-1/2 bg-[#473bf0] flex flex-col justify-center items-center py-[20px]">
            <h1 class="main-head text-[white] font-[500] italic text-[17px] my-5 w-[60%] text-center">“At High Touch Aluminium Fabrication, we craft bespoke interior solutions, specializing in showcases, cupboards, ceilings, and more with precision and style”</h1>
            <div class="rounded-full overflow-hidden">
                <img src="\assets\images\vava.png" alt="" class="w-[100px]">
            </div>
            <h2 class="m-4 text-[white] font-[600] text-[20px]" >Murshid N</h2>
            <h1 class="text-[white] font-[200]">Managing Director</h1>
        </div>
        <div class="dr-quotes w-1/2 bg-[#473bf0] flex flex-col justify-center items-center py-[20px]">
            <h1 class="main-head text-[white] font-[500] italic text-[17px] my-5 w-[60%] text-center">“High Touch Aluminium Fabrication specializes in innovative interior designs, offering custom aluminium solutions for showcases, cupboards, ceilings, and more.”</h1>
            <div class="rounded-full overflow-hidden">
                <img src="\assets\images\javad.png" alt="" class="w-[100px]">
            </div>
            <h2 class="m-4 text-[white] font-[600] text-[20px]" >Javad Vp</h2>
            <h1 class="text-[white] font-[200]">Managing Director</h1>
        </div>
    </div>
    <div class="w-full bg-[#161c2d] flex flex-col justify-center items-center py-[100px] gap-[100px]">
        <div class="main w-[80%] flex justify-between text-[white] py-10">
            <div class="w-[50%]">
                <h1 class="text-[27px] font-[900] my-4">Ready to style your house with elegance?</h1>
                <p class="font-[200]">With custom aluminum fabrication, create a stylish and durable washbasin area effortlessly. Transform your space with precision and style.</p>
            </div>
            <div class="btn w-[50%] flex justify-end items-center">
                <div class="py-[6px] px-4 rounded-md text-[20px] bg-[#473bf0] font-[700]" >
                    <app-button (click)="gotToContactForm()"></app-button>
                </div>
            </div>
        </div>
        <div class="w-[80%] flex gap-2 flex-wrap justify-center text-[white]">
            <div class="w-[300px]  ">
                <h1 class="text-[22px] font-[800] my-5">High Touch</h1>
                <p class="font-[200] text-[16px] w-[70%]">We specialize in high-quality aluminum fabrication for all interior needs. From structural elements to custom designs, we deliver precision, durability, and style.</p>
                <!-- <img src="/assets/images/icons.png" alt=""> -->
                 <div class="flex gap-2  mt-3">
                    <a href="https://www.instagram.com/high_touch_aluminium0024?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="\assets\images\instagram.png" alt="" class="h-[30px]"></a>
                    <img src="\assets\images\phone.png" alt="" class="h-[30px]">
                 </div>
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Company</h4>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Product</h4>
                <ul>
                    <li>Features</li>
                    <li>Pricing</li>
                    <!-- <li>News</li>
                    <li>Help desk</li>
                    <li>Support</li> -->
                </ul>
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Phone number</h4>
                <ul>
                    <li>+91 97454 65530</li>
                    <li>+91 89432 88617</li>
                    <!-- <li>SEO for Business</li>
                    <li>UI Design</li> -->
                </ul>
            </div>
            <!-- <div class="min-w-[250px] ">
                <h4 class="head">Legal</h4>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Return Policy</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>