<div class="w-full ">
    <div class="w-full bg-[#473bf0] flex flex-col justify-center items-center py-[150px]">
        <p class="text-[#68d585] uppercase">Testimonial</p>
        <h1 class="main-head text-[white] font-[900] text-[30px] my-5 w-[60%] text-center">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</h1>
        <img src="/assets/figma/mann.png" alt="" class="w-[100px]">
        <h2 class="m-4 text-[white] font-[600] text-[20px]" >Ian Klein</h2>
        <h1 class="text-[white] font-[200]">Digital Marketer</h1>
    </div>
    <div class="w-full bg-[#161c2d] flex flex-col justify-center items-center py-[100px] gap-[100px]">
        <div class="main w-[80%] flex justify-between text-[white] py-10">
            <div class="w-[50%]">
                <h1 class="text-[27px] font-[900] my-4">Ready to launch your next project?</h1>
                <p class="font-[200]">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            </div>
            <div class="btn w-[50%] flex justify-end items-center">
                <div class="py-3 px-4 rounded-md text-[20px] bg-[#473bf0] font-[700]" >
                    <app-button></app-button>
                </div>
            </div>
        </div>
        <div class="w-[80%] flex gap-2 flex-wrap justify-center text-[white]">
            <div class="w-[300px]  ">
                <h1 class="text-[22px] font-[800] my-5">Brainwave.io</h1>
                <p class="font-[200] text-[16px] w-[70%]">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                <img src="/assets/images/icons.png" alt="">
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Company</h4>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>Careers</li>
                    <li>Press</li>
                </ul>
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Product</h4>
                <ul>
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>News</li>
                    <li>Help desk</li>
                    <li>Support</li>
                </ul>
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Services</h4>
                <ul>
                    <li>Digital Marketing</li>
                    <li>Content Writing</li>
                    <li>SEO for Business</li>
                    <li>UI Design</li>
                </ul>
            </div>
            <div class="min-w-[250px] ">
                <h4 class="head">Legal</h4>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Return Policy</li>
                </ul>
            </div>
        </div>
    </div>
</div>