<nav class="navbar w-full h-[60px] bg-[#f3f6f9] relative">
    <div class="menubar h-[100%] ">
        <img src="/assets/images/menu.png" alt="" class="h-[50%]" (click)="showMenu()">
    </div>
    <div class="name-company">
        <h1>Brainwave.io</h1>
    </div>
    <ul class="uls flex ">
        <li>Demos</li>
        <li>Pages</li>
        <li>Support</li>
        <li>Contsct</li>
    </ul>
    <div class="button">
        <button>Get Started A Project</button>
    </div>
    <div class="side-menu absolute" [ngClass]="{'side-menu-open':openMenu}">
        <h1 class="h-[40px] w-[100%]  flex justify-end pr-2 items-center mt-1"><img src="/assets/images/close.png" alt="" class="h-[60%] pt-2 pr-2" (click)="close()"></h1>
    </div>
</nav>