<nav class="navbar w-full h-[60px] bg-[#f3f6f9] relative cursor-pointer ">
    <div class="menubar h-[100%] ">
        <img src="/assets/images/menu.png" alt="" class="h-[50%]" (click)="showMenu()">
    </div>
    <div class="name-company ">
        <div class=" rounded-full mr-[4px]">
            <img src="/assets/images/companylogo.png" alt="logo" class="w-[60px] h-[60px]">
        </div>
    </div>
    <ul class="uls flex ">
        <li (click)="goToHomePage()">Home</li>
        <li (click)="goToServicesPage()">Services</li>
        <li (click)="goToDirectorsPage()">Directors</li>
        <li (click)="gotToContactForm()">Contact</li>
    </ul>
    <div class="button">
        <!-- <div class="!py-[6px] !px-3 rounded-md text-[17px] font-[700] bg-[#473bf0] text-white" >
            <app-button></app-button>
        </div> -->
        <h1 class="font-black" style="font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', serif;">High Touch</h1>
    </div>
    <div class="side-menu absolute" [ngClass]="{'side-menu-open':openMenu}">
        <h1 class="h-[40px] w-[100%]  flex justify-end pr-2 items-center mt-1"><img src="/assets/images/close.png" alt="" class="h-[60%] pt-2 pr-2" (click)="close()"></h1>
        <ul class="side-menu-uls flex  flex-col mt-2">
            <li class="border-b-2" (click)="goToHomePage()">Home</li>
            <li class="border-b-2" (click)="goToServicesPage()">Services</li>
            <li class="border-b-2" (click)="goToDirectorsPage()">Directors</li>
            <li class="border-b-2" (click)="gotToContactForm()">Contact</li>
        </ul>
    </div>
</nav>