<div class="hero w-full h-full flex">
    <div class="hero-parts w-[50%]   flex justify-center items-center">
        <div class="inner w-[70%]   flex flex-col justify-between items-start my-24 py-3">
             <p>Elevate Interiors, Fabricate With Us</p>
             <h1>Elevate Your Space with Elegant Aluminum.</h1>
             <p class="para">Design elegant aluminum interiors with ease using our ready-made blocks - Precision. Beauty. Durability.</p>
             <div class="!py-[6px] !px-4 rounded-md text-[17px] font-[700] bg-[#473bf0] text-white" >
                <app-button (click)="gotToContactForm()"></app-button>
            </div>
        </div>
    </div>
    <div class="hero-parts w-[50%]  flex justify-center items-center">
     <div class="inner w-[70%]  flex flex-col justify-center items-center my-28 py-3">
         <div class="">
             <img src="/assets/figma/Fill 1.png" alt="" class="w-[80px]">
             <div class="relative">
                <!-- <img src="/assets/figma/Oval.png" alt="" class="w-[350px] -mt-3"> -->
                <div class="image-aluminium sm:w-[300px] sm:h-[300px] w-[250px] h-[250px] bg-[#473bf0] rounded-full">
                    <!-- <img src="/assets/images/home-design.jpg" alt="" class="w-auto -mt-3 rounded-full"> -->

                </div>
                <img src="/assets/figma/Combined Shape (1).png" alt="" class="absolute top-[50%] w-[60px] left-2">
                <img src="/assets/figma/Combined Shape.png" alt="" class="big-shape  absolute top-[50%] w-[60px] left-2">
                <img src="/assets/figma/Fill 4.png" alt="" class="absolute top-[50%] right-[40px] h-[60px]">
                <img src="/assets/figma/Fill 4.png" alt="" class="absolute top-[50%] right-[50px] h-[60px]">
             </div>
         </div>
     </div>
 </div>
 </div>