<div class="w-full bg-[#f4f7fa98]">
    <div class="w-full flex justify-center items-center flex-col p-16">
        <h2 class="text-[red] text-[16px] font-[500] m-2">Our Service</h2>
        <h1 class="h1">We provide great services four our</h1>
        <h1 class="h1">costomers based on needs </h1>
    </div>
    <div class="mt-5 flex justify-center gap-[40px] flex-wrap px-5 my-10">
        <div class="services w-[280px] h-[380px] rounded-lg bg-[#68d585] flex flex-col justify-evenly items-center p-[10px]">
            <img src="/assets/figma/graphicdesign.png" alt="" class="w-[40%]">
            <h1>Graphic Design</h1>
            <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <button class="flex justify-center items-center gap-2">Learn More <img src="/assets/images/icons8-arrow-30.png" alt="" class=" arraow w-[20px]"></button>
        </div>
        <div class="services w-[280px] h-[380px] rounded-lg bg-[#473bf0] flex flex-col justify-evenly items-center p-[10px]">
            <img src="/assets/figma/webdevelopment.png" alt="" class="w-[40%]">
            <h1>Web Development</h1>
            <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <button class="flex justify-center items-center gap-2">Learn More <img src="/assets/images/icons8-arrow-30.png" alt="" class=" arraow w-[20px]"></button>
        </div>
        <div class="services w-[280px] h-[380px] rounded-lg bg-[#f64b4b] flex flex-col justify-evenly items-center p-[10px]">
            <img src="/assets/figma/contentWriting.png" alt="" class="w-[40%]">
            <h1>Content Writing</h1>
            <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <button class="flex justify-center items-center gap-2">Learn More <img src="/assets/images/icons8-arrow-30.png" alt="" class=" arraow w-[20px]"></button>
        </div>
    </div>
    <div class="w-full p-4 flex justify-center items-center">
        <div class=" main w-[920px]  flex gap-5 p-3">
            <div class="image">
                <img src="/assets/figma/person.png" alt="" class="!w-[200px]">
            </div>
            <div class="second flex flex-col justify-between ">
                <h1 class="flex"><img src="/assets/figma/star copy 4.png" alt=""><img src="/assets/figma/star copy 4.png" alt=""><img src="/assets/figma/star copy 4.png" alt=""><img src="/assets/figma/star copy 4.png" alt=""><img src="/assets/figma/star copy 4.png" alt=""></h1>
                <h1 class="font-[900]">“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish.”</h1>
                <h1 class="font-[700]">Franklin Hicks</h1>
                <h1>Web Developer</h1>
            </div>
        </div>
    </div>  
</div>